{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="home-container">
    <h1>Workout Journal</h1>
    {% load static %}
    <div style="margin-bottom: 15px;">
        <img src="{% static '/img/cover.jpg' %}" alt="Image of people working out" style="width: 300px;" class="center">
    </div>
    <article class="index-article center">
        <h2>Keep track of progress with a personal Workout Journal</h2>
        <p>
            If you work out, it is always good practice to keep a journal, so you can <b>keep track of your results</b>
            over
            a given period of time.
            Many people will have a note pad, where they put everything down. But if you go to the gym and forget the
            note
            pad, then it might be
            difficult to memorize everything, so you can put it down in your workout journal. But for using this workout
            journal all you need is your
            smart phone with an internet connection, which you take everywhere with you anyway.
        </p>
        <h3>Before you begin</h3>
        <p>
            If you have not signed up yet, then you will need to do that first.
        </p>
        <p>
            If you have signed up, then you need to log in. Just click or tap on the <span class="nav-link"><i
                    class="fa-solid fa-right-to-bracket"></i>Login</span>.
        </p>
        <p>
            Last but not least, you need to <b>define Exercises</b>, that you are going to use. You can see how to do
            that
            in the article below.
            The exercises you define are <em>not</em> for one workout only. They can be used in other workouts.
        </p>
    </article>
    <article class="index-article center">
        <h2>How to create your own list of <em>Exercises</em></h2>
        <div>
            <ol>
                <li>In the navigation bar, click on <span class="nav-link"><i
                            class="fa-solid fa-list"></i>Exercises</span>
                </li>
                <li>Click on <b>New Exercise</b></li>
                <li>Name your exercise, e.g. Push-Ups, Bicep Curl, etc. </li>
                <li>Choose <b>type</b>
                    <ul>
                        <li><b>Weight-Lifting</b> - Weight-Lifting allows you to log sets
                            of repetitions with a weight </li>
                        <li><b>Running</b> - Allows you to log sets of distance over time</li>
                        <li><b>Endurance</b> - Allows you to log sets of repetitions over time</li>
                    </ul>
                </li>
                <li>Click on <b>Save</b></li>
            </ol>
        </div>
    </article>
    <article class="index-article center">
        <h2>Workout</h2>



        <img src="{% static '/img/wireframes/workout/starting_new_1.png' %}"
            alt="Image of first step of starting a new workout" style="width: 80%;" class="center">
        <p class="centered-text enframe image-caption">
            <span class="number-tag encircle"><b>1.</b></span>
            To start a workout just click on <span class="nav-link"><i class="fa-solid fa-play"></i>Start
                Workout</span>
        </p>

        <img src="{% static '/img/wireframes/workout/starting_new_2.png' %}"
            alt="Image of second step of starting a new workout" style="width: 80%;" class="center">
        <p class="centered-text enframe image-caption">
            <span class="number-tag encircle"><b>2.</b></span>
            <b>Name</b> your workout session
        </p>
        <img src="{% static '/img/wireframes/workout/starting_new_3.png' %}"
            alt="Image of third step of starting a new workout" style="width: 80%;" class="center">
        <p class="centered-text enframe image-caption">
            <span class="number-tag encircle"><b>3.</b></span>
            Click on <b>Start</b>
        </p>
        <img src="{% static '/img/wireframes/workout/starting_new_4.png' %}"
            alt="Image of fourth step of starting a new workout" style="width: 80%;" class="center">
        <p class="centered-text enframe image-caption">
            <span class="number-tag encircle"><b>4.</b></span>
            A new workout session is now open for editing.
        </p>
        <img src="{% static '/img/wireframes/workout/starting_new_5.png' %}"
            alt="Image of fourth step of starting a new workout" style="width: 80%;" class="center">
        <p class="centered-text enframe image-caption">
            <span class="number-tag encircle"><b>5.</b></span>
            Select an exercise from the dropdown list
        </p>
        <img src="{% static '/img/wireframes/workout/starting_new_6.png' %}"
            alt="Image of fourth step of starting a new workout" style="width: 80%;" class="center">
        <p class="centered-text enframe image-caption">
            <span class="number-tag encircle"><b>6.</b></span>
            Click on <b>Add Exercise</b>
        </p>
        <img src="{% static '/img/wireframes/workout/starting_new_7.png' %}"
            alt="Image of fourth step of starting a new workout" style="width: 80%;" class="center">
        <p class="centered-text enframe image-caption">
            <span class="number-tag encircle"><b>7.</b></span>
            The exercise opens for logging your sets in the journal
        </p>
    </article>
</div>
{% endblock content %}