{% extends "base.html" %}

{% block content %}
<h1>Exercises</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 col-md-6"></div>
        <div class="col-sm-1 col-md-3"></div>
        <div class="col-sm-10 col-md-3">
            <a href="{% url 'create_exercise' %}" class="url-link add-button centered-text">
                <i class="fa-solid fa-circle-plus"></i>
                New Exercise
            </a>
        </div>        
    </div>
    <div class="row">
        <div class="col-6 label centered-text">
            Name
        </div>
        <div class="col-3 label centered-text">
            Type
        </div>
        <div class="col"></div>
    </div>
    {% for exercise in exercise_list %}
    <div class="row">
        <div class="col-6">
            <a href="{% url 'edit_exercise' exercise.id %}" class="url-link edit-button"><i
                    class="fa-solid fa-pen-to-square"></i>
                {{ exercise.name }}</a>
        </div>
        <div class="col-3 exercise-type mx-auto">
            {% if exercise.exercise_type == 0 %}
            <i class="fa-solid fa-dumbbell"></i><br>
            Weight-Lifting
            {% elif exercise.exercise_type == 1 %}
            <i class="fa-solid fa-person-running"></i><br>
            Running
            {% else %}
            <i class="fa-solid fa-stopwatch-20"></i><br>
            Endurance
            {% endif %}
        </div>
        <div class="col centered-text">
            <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{exercise.id}}" class="url-link delete-button"><i
                    class="fa-solid fa-trash-can"></i></a>
        </div>
        <!-- Modal Structure : Confirm Delete -->
        <div id="modal{{exercise.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete {{ exercise.name }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to delete {{ exercise.name }}?</h4>
                        <p><i class="medium red material-icons">warning</i> <br>This action cannot be undone!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'delete_exercise' exercise.id %}" class="url-link delete-button">Yes</a>
                                </div>
                                <div class="col">
                                    <a href="#" class="url-link" data-bs-dismiss="modal">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col centered-text">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1"><i class="fa-solid fa-backward-fast"></i></a>
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-backward"></i></a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-forward"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-forward-fast"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

</div>

{% endblock content %}