{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-4">
            <a href="{% url 'create_exercise' %}" class="url-link add-button centered-text">
                <i class="fa-solid fa-circle-plus"></i>
                New Exercise
            </a>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-6 label centered-text">
            Name
        </div>
        <div class="col-3 label centered-text">
            Type
        </div>
        <div class="col"></div>
    </div>
    {% for exercise in exercise_list %}
    <div class="row">
        <div class="col-6">
            <a href="{% url 'edit_exercise' exercise.id %}" class="url-link edit-button"><i
                    class="fa-solid fa-pen-to-square"></i>
                {{ exercise.name }}</a>
        </div>
        <div class="col-3 exercise-type mx-auto">
            {% if exercise.exercise_type == 0 %}
            <i class="fa-solid fa-dumbbell"></i><br>
            Weight-Lifting
            {% elif exercise.exercise_type == 1 %}
            <i class="fa-solid fa-person-running"></i><br>
            Running
            {% else %}
            <i class="fa-solid fa-stopwatch-20"></i><br>
            Endurance
            {% endif %}
        </div>
        <div class="col centered-text">
            <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{exercise.id}}" class="url-link delete-button"><i
                    class="fa-solid fa-trash-can"></i></a>
        </div>
        <!-- Modal Structure : Confirm Delete -->
        <div id="modal{{exercise.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete {{ exercise.name }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to delete {{ exercise.name }}?</h4>
                        <p><i class="medium red material-icons">warning</i> <br>This action cannot be undone!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'delete_exercise' exercise.id %}" class="url-link delete-button">Yes</a>
                                </div>
                                <div class="col">
                                    <a href="#" class="url-link" data-bs-dismiss="modal">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock content %}