{% extends "base.html" %}
{% block title %}Edit Workout {% endblock title %}

{% block content %}
<h1>Edit Workout</h1>
<form action="{% url 'edit_workout' workout_form.instance.id %}" method="POST">
    {% csrf_token %}
    <div class="row">
        {{ workout_form }}

        <div class="col entry-column">
            <!-- Placeholder for consistency of the layout -->
        </div>              
    </div>
    <div class="row">
        {{ workout_form.date }}
    </div>
    
    {% for workout_exercise in workout_exercise_list %}
    <div class="row">        
        <div class="col entry-column">
            <a href="#" class="url-link"><i
                    class="fa-solid fa-pen-to-square"></i>{{ workout_exercise.exercise.name }}</a>
        </div>
        <div class="col entry-column">
            <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{workout_exercise.id}}"
                class="url-link"><i class="fa-solid fa-trash-can"></i>Delete</a>
        </div>
    </div>
    <div class="row">
        <div class="col-5 offset-2">
            <!-- Modal Structure : Confirm Delete -->
            <div id="modal{{workout_exercise.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete {{ workout_exercise.exercise.name }}?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h4>Are you sure you want to delete {{ workout_exercise.exercise.name }}?</h4>
                            <p><i class="medium red material-icons">warning</i> <br>This action cannot be undone!
                            </p>
                        </div>
                        <div class="modal-footer">   
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="url-link wo-button">Yes</a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="url-link wo-button" data-bs-dismiss="modal">No</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Placehoder -->
        </div>
        <div class="col">
            <!-- Placehoder -->
        </div>
    </div>
    {{ workout_exercise_form.id }}
    {% endfor %}
    <div class="row">
        <div class="col entry-column">
            {{ workout_exercise_form.exercise }}
        </div>
        
        <div class="col entry-column md-4">
            <a href="#" onclick="submit_form()" class="url-link">
                <i class="fa-solid fa-circle-plus"></i>Add
            </a>
        </div>        
    </div>
    <div class="row">
        <div class="col entry-column">
            <a href="#" onclick="submit_form()" class="url-link wo-button">
                <i class="fa-solid fa-cloud-arrow-up"></i>Save
            </a>
        </div>        
        <div class="col entry-column md-2">
            <a href="#" class="url-link wo-button">
                <i class="fa-solid fa-circle-arrow-left"></i>Cancel
            </a>
        </div>
    </div>
</form>
<script>
    function submit_form(){
        document.forms[0].submit();
    }
</script>
{% endblock content %}