{% extends "base.html" %}
{% block title %}Rename Workout {% endblock title %}

{% block content %}

<form action="{% url 'rename_workout' workout_form.instance.id %}" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-8 mt-2 offset-2">
                <h1>Reanme Workout</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mt-2 offset-2">
                {{ workout_form }}
            </div>
        </div>        
        <div class="row">
            <div class="col-4 mt-2 offset-2">
                <a href="{% url 'edit_workout' workout_form.instance.id %}" class="url-link centered-text">
                    Cancel
                </a>
            </div>
            <div class="col-4 mt-2">
                <button type="submit">                    
                    Rename
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}