{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="table-header col-3 centered-text">
            Date
        </div>
        <div class="table-header col-7 centered-text">
            Workout
        </div>

        <div class="table-header col centered-text">

        </div>
    </div>

    {% for summary in page_obj %}
    <div class="row">
        <div class="col-3 centered-text">
            <span class="date-field">{{ summary.workout.date |date:"M d, y" }}</span>
        </div>
        <div class="col-7 centered-text" style="display:inline-block;">
            <a class="url-link workout-name"" href=" {% url 'edit_workout' summary.workout.id %}"><i
                    class="fa-solid fa-pen-to-square"></i>{{summary.workout.name }}</a>
            {% for report in summary.reports %}
                <a style="display:block;" class="url-link edit-button set-summary" href="{% url 'workload_list' report.workout_exercise.id %}">
                    <!-- Weight-Lifting -->
                    {% if report.workout_exercise.exercise.exercise_type == 0 %} 
                    <i class="fa-solid fa-dumbbell"></i>{{report.workout_exercise.exercise.name }}<br>
                    <!-- Running -->
                    {% elif report.workout_exercise.exercise.exercise_type == 1 %}
                    <i class="fa-solid fa-person-running"></i>{{report.workout_exercise.exercise.name }}<br>
                    <!-- Endurance -->
                    {% else %} 
                    <i class="fa-solid fa-stopwatch-20"></i>{{report.workout_exercise.exercise.name }}<br>
                    {% endif %}
                    {% for workload_summary in report.summaries %} 
                    {{workload_summary}}<br>
                    {% endfor %}
                </a>               
            {% endfor %}
        </div>
        <div class="col centered-text">
            <a class="url-link delete-button" href="#" data-bs-toggle="modal" data-bs-target="#modal{{report.workout_id}}"><i
                    class="fa-solid fa-trash-can"></i></a>
        </div>
    </div>

    <!-- Modal Structure : Confirm Delete -->
    <div id="modal{{report.workout_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete {{ workout.name }}?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to delete {{ workout.name }}?</h4>
                    <p><i class="medium red material-icons">warning</i> <br>This action cannot be undone!
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'delete_workout' summary.workout.id  %}"
                                    class="url-link delete-button">Yes</a>
                            </div>
                            <div class="col">
                                <a href="#" class="url-link" data-bs-dismiss="modal">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Placehoder -->
        </div>
        <div class="col">
            <!-- Placehoder -->
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-3">
            <!-- Placeholder -->
        </div>
        <div class="col-7 centered-text">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1"><i class="fa-solid fa-backward-fast"></i></a>
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-backward"></i></a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-forward"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-forward-fast"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col">
            <!-- Placeholder -->
        </div>
    </div>

</div>

{% endblock content %}