{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row data-row centered-text">
          <h3>Sign In</h3>
          <p>If you have not created an account yet, then please
            <a href="{{ signup_url }}" class="url-link" style="display:inline-; width: 150px;">sign up</a> first.
          </p>
          <form class="login" method="POST" action="{% url 'account_login' %}" style="padding: 15px;">
            {% csrf_token %}
            <div class="container">
              {% for field in form %}
              {% if forloop.last %}
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  {{ field.label_tag }}                
                  {{ field }}
                </div>
                <div class="col"></div>
              </div>
              {% else %}
              <div class="row">
                <div class="col login">
                  {{ field }}
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="wo-button" type="submit" style="width:30%;">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}