{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Signup{% endblock %}

{% block content %}
<div class="container">
  <div class="row data-row centered-text">
    <div class="col">
      <h1>Sign Up</h1>

      <p>Already have an account? Then please <a href="{{ login_url }}" class="url-link">sign in</a>.
      </p>
    </div>
  </div>

  <div class="row data-row centered-text">
    <div class="col">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="container">
          {% for field in form %}
          <div class="row">
            <div class="col registration">
              {{ field }}
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- {{ form.as_p }} -->

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="wo-button" style="width:30%;">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}